### Общие правила ###
.DS_Store
*.log
.vscode/
.idea/
*.iml
*.ipr
*.iws
.gigaide

### Бэкенд (Java/Spring) ###
# Maven
backend/target/  
backend/.mvn/wrapper/maven-wrapper.jar  
!backend/src/main/**/target/  
!backend/src/test/**/target/  

# IDE
backend/.apt_generated  
backend/.classpath  
backend/.factorypath  
backend/.project  
backend/.settings  
backend/.springBeans  
backend/.sts4-cache  

# NetBeans
backend/nbproject/private/  
backend/nbbuild/  
backend/dist/  
backend/nbdist/  
backend/.nb-gradle/  
backend/build/  
!backend/src/main/**/build/  
!backend/src/test/**/build/  

# Документация
backend/HELP.md  

### Фронтенд (Node.js/React/Vue) ###
# Зависимости
frontend/node_modules/  
frontend/.pnp  
frontend/.pnp.js  

### Фронтенд: Сборка ###  
frontend/build/  
frontend/dist/  

### Фронтенд: Тесты ###  
frontend/coverage/  

### Фронтенд: Окружение ###  
frontend/.env  
frontend/.env.local  
frontend/.env.development.local  
frontend/.env.test.local  
frontend/.env.production.local  

### Фронтенд: Логи ###  
frontend/npm-debug.log*  
frontend/yarn-debug.log*  
frontend/yarn-error.log*  